<!-- <button id="btn_1" uc-button>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor">
    <path d="M0 0h24v24H0z" fill="none" />
    <path
      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
    />
  </svg>
  Get info
</button>
<br/>
<br/>

<button id="btn_2" uc-button [isOutline]="true">My button outline</button>
<br/>
<br/>

<a id="a_3"  uc-button [isSmall]="true" href="#">My link</a> -->
<h1>Html buttons</h1>
&nbsp;&nbsp;&nbsp;
<input type="button" id="btn_0" value="hello111" name="world" (click)="onClick()"/>
<br/><br/>

&nbsp;&nbsp;&nbsp;
<button id="btn_1" value="hello" name="world" (click)="onClick()">Html button</button>
<br/><br/>

<h1>Custom Buttons</h1>
&nbsp;&nbsp;&nbsp;
<button uc-reset-button id="btn_2" (click)="onReset()"></button>
&nbsp;&nbsp;&nbsp;
<button uc-cancel-button id="btn_3" (click)="onCancel()"></button>
&nbsp;&nbsp;&nbsp;
<button uc-submit-button id="btn_4" (click)="onSubmit()"></button>
<br/><br/>

&nbsp;&nbsp;&nbsp;
<h1>Custom Dialog Boxes</h1>
&nbsp;&nbsp;&nbsp;
<button uc-base-button 
  label="Launch demo modal #1" class="btn btn-success" icon="bi bi-airplane"
  data-bs-toggle="modal" data-bs-target="#exampleModal1">
</button>
<uc-dialog-box 
    ucId="exampleModal1" 
    title="confirm your registration!" 
    body="press submit to confirm your registration" 
    icon="bi bi-exclamation-triangle-fill"
    cancelLabel="Cancel"
    confirmLabel="OK"
    (submitEvent)="onDialogSubmit1()">
</uc-dialog-box>
<br/>
<br/>
&nbsp;&nbsp;&nbsp;
<button uc-base-button 
  label="Launch demo modal #2" class="btn btn-danger" icon="bi bi-alarm"
  data-bs-toggle="modal" data-bs-target="#exampleModal2">
</button>
<uc-dialog-box 
    ucId="exampleModal2" 
    title="confirm form submission !" 
    body="press submit to form" 
    icon="bi bi-check-square-fill"
    cancelLabel="Cancel"
    confirmLabel="Submit"
    (submitEvent)="onDialogSubmit2()">
</uc-dialog-box>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Dialog Text here..............
      </div>
      <div class="modal-footer">
        <button uc-cancel-button data-bs-dismiss="modal"></button>
        <button uc-submit-button ></button>
      </div>
    </div>
  </div>
</div> -->


<!-- <h2>Themed buttons</h2>
<div style="--btn-theme-bg-color: orange; --btn-gap: 5px">
  <button id="btn_4" uc-button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
      />
    </svg>
    Get info
  </button>
  &nbsp;&nbsp;&nbsp;
  <button id="btn_5" uc-button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
      />
    </svg>
    Get info
  </button>
  &nbsp;&nbsp;&nbsp;
  <button id="btn_6" uc-button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
      />
    </svg>
    Get info
  </button>
</div> -->
